*{font-family: 'Open Sans', sans-serif;
    -webkit-user-select:none;}

.deplacer{
    position: absolute;
    top: -220%;
    z-index: 1000000000;
    visibility:hidden;
}

.cross{
    position: absolute;
    right:0%;
}

i{
    font-size: 1.6em;
}

body{background:#e3e3e3!important;}
    
nav{
background:#996840;
border-bottom:2px solid #fdfdfd;
top:0px;
width: 100%;
z-index: 100;
}

.sticky{
position: fixed !important;
top: 0 !important;
width: 100% !important;
}

.sticky + .content {
padding-top: 70px !important;
}

.nav-item{
z-index: 1000010 ;
}

a{text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
color:#50566b !important;
font-size:16px;}

a:hover {
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
text-shadow:#F3F1F1 0 0 3px!important;
font-size:16px;
transition:0.8s ease;
color:#50566b !important;
}

.ap {
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
color:#DBDBDB !important;
font-size:16px;   
}

.ap:hover{
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
text-shadow:#F3F1F1 0 0 3px!important;
font-size:16px;
transition:0.8s ease;
color:#F3F1F1 !important;
}

.apt{
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
color:#DBDBDB !important;
font-size:16px;
}

.apt:hover{
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
text-shadow:#F3F1F1 0 0 3px!important;
font-size:16px;
transition:0.8s ease;
color:#F3F1F1 !important;
}

.deco{background: #e3e3e3 !important;
border: 2px solid #fdfdfd !important;
}

.dropc{color: #50566b !important;}

.dropdown-item:hover{background:#996840 !important;}


.hamber{
background:#F3F1F1!important;
border:2px solid #fdfdfd !important;
}

/***COULEURS BOUTONS***/

.btn{
background:#996840 !important;
border:transparent !important;
box-shadow:#3f2d0b 0 0 5px;
color:#DBDBDB;
transition:0.8s ease;
font:16px;
padding:10px;
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
}

.btn:hover{
letter-spacing:0.5px;
box-shadow:#3f2d0b 0 0 15px;
font:16px;
text-decoration: none !important;
font-variant: normal !important;
text-transform: none !important;
}
/**FIN COULEURS BOUTONS***/


.cardright-img{
    float:right;
    width:275px;
    height:225px;
}

.card-img{    
    width:275px;
    height:225px;}

h1,h3,h5{
color:#50566b !important;
font-family: 'Oswald', sans-serif !important;
}

p{
    color:#404040;
}

@media only screen and (max-width:767px){
    a:hover{letter-spacing:0px;}
  }
@media screen and (min-width:768px){
    a:hover{letter-spacing:0px;}
  }
  
@media screen and (min-width:992px){
    a:hover{letter-spacing:1px;}
  }
  
@media screen and (min-width:1200px){
    a:hover{letter-spacing:1px;}
  }

.card{
    margin-top:50px;
}